<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Node.js Simple File Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style>
        #container{
            background-image: url('https://e0.pxfuel.com/wallpapers/272/71/desktop-wallpaper-transformers-logo-minimalist.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            text-align: center;
            padding: 5rem 10rem 0;
        }
        #uploadForm{
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
        }
        input.btn{
            flex: 0.8;
        }
        button.btn{
            flex: 0.15;
        }
        #Head{
            background-color: white;
            border-radius: 10px;
            height: 2.5rem;
        }
        #palestine{
            height: 150px;
            
            position: absolute;
            top: 4rem;
            right: 3rem;
        }
        #palestine2{
            height: 150px;
            
            position: absolute;
            top: 4rem;
            left: 3rem;
        }
    </style>
</head>
<body>
    <div id="container">
        <h2 id="Head">AutoBots FOTA Project</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Flag_map_of_Mandatory_Palestine_with_a_Palestinian_flag.svg/800px-Flag_map_of_Mandatory_Palestine_with_a_Palestinian_flag.svg.png" id="palestine">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Flag_map_of_Mandatory_Palestine_with_a_Palestinian_flag.svg/800px-Flag_map_of_Mandatory_Palestine_with_a_Palestinian_flag.svg.png" id="palestine2">
        <form action="/uploadFile" method="post" id="uploadForm" enctype="multipart/form-data">
            <input type="file" name="file"
            class="btn btn-primary" id="file">
            <button class="btn btn-primary" type="submit" style="border-radius: 4px;">
                Upload
            </button>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById("file").value = "";
    </script>
</body>
</html>